/* Réinitialisation des marges et des paddings par défaut */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styles de base */
body {
    background-image: url('nature2.jpg'); /* Chemin de l'image de fond */
    background-size: cover; /* Assure que l'image de fond couvre toute la surface du corps */
    background-position: center; /* Centre l'image de fond */
    background-repeat: no-repeat; /* Évite la répétition de l'image de fond */
}
/* ... (autres styles CSS) ... */

/* Styles pour le menu déroulant */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

    .dropdown-content ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .dropdown-content a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px;
        transition: background-color 0.3s; /* Ajout de transition pour une animation fluide */
    }

        .dropdown-content a:hover {
            background-color: #87CEEB; /* Bleu clair au survol */
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between; /* Ajout : Espacement équitable entre les enfants */
    align-items: center; /* Ajout : Centrage vertical des enfants */
}

/* Navbar styles */
.navbar {
    background-color: rgba(150, 150, 150, 0.6);
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center; /* Centrer verticalement les éléments */
    position: fixed;
}

    .navbar a {
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
        font-size: 1.0em;
    }

.logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: auto;
    ;
}

    .logo img {
        width: 15%; /* Réduit la largeur de l'image à 40% */
        margin-right: auto; /* Déplacer le logo à l'extrême gauche */
        height: auto; /* Garantit que la hauteur s'ajuste automatiquement en fonction de la largeur */
    }

.menu-toggle {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

    .nav-links li {
        margin-left: 20px;
    }

/* Contenu principal styles */
.main-content {
    z-index: 4;
    position: absolute;
    padding: 50px 0;
    text-align: justify;
    margin-left: 60px;
    margin-right: 360px;
    margin-top: 685px;
    font-size: 1.5em;
}

.texte2 {
    z-index: 4;
    position: absolute;
    padding: 50px 0;
    text-align: justify;
    margin-left: 300px;
    margin-right: 60px;
    margin-top: 875px;
    font-size: 1.5em;
}

.texte3 {
    padding: 50px 0;
    z-index: 4;
    position: absolute;
    text-align: justify;
    margin-left: 60px;
    margin-right: 300px;
    margin-top: 1235px;
    font-size: 1.5em;
}

.bottom-text {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; /* Ajustez l'alignement du texte selon vos besoins */
}

.Intro {
    padding: 50px 0;
    z-index: 4;
    position: absolute;
    text-align: left;
    margin-left: 100px;
    margin-top: 300px;
    font-size: 1.5em;
    color: #fff;
}

/*carre*/

.transparent-square {
    width: 390px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5); /* Rouge avec une opacité de 0.5 */
    top: 300px; /* Distance depuis le bord supérieur */
    left: 50px; /* Distance depuis le bord gauche */
    z-index: 1;
    position: absolute;
}

.black-square {
    width: 100%; /* Largeur en fonction de la largeur de l'écran avec une marge de 10px de chaque côté */
    height: 1170px; /* Spécifiez la hauteur du carré */
    background-color: #000; /* Couleur de fond blanche */
    position: absolute; /* Position absolue pour placer le carré où vous le souhaitez */
    top: 700px; /* Distance depuis le bord supérieur */
    left: 0px; /* Distance depuis le bord gauche */
    z-index: 1;
}

.white-square {
    width: calc(100vw - 40px); /* Largeur en fonction de la largeur de l'écran avec une marge de 10px de chaque côté */
    height: 990px; /* Spécifiez la hauteur du carré */
    background-color: #fff; /* Couleur de fond blanche */
    position: absolute; /* Position absolue pour placer le carré où vous le souhaitez */
    top: 680px; /* Distance depuis le bord supérieur */
    left: 10px; /* Distance depuis le bord gauche */
    z-index: 2;
}

.grey-square1 {
    width: 1500px; /* Largeur en fonction de la largeur de l'écran avec une marge de 10px de chaque côté */
    height: 160px; /* Spécifiez la hauteur du carré */
    background-color: #ddd; /* Couleur de fond blanche */
    position: absolute; /* Position absolue pour placer le carré où vous le souhaitez */
    top: 720px; /* Distance depuis le bord supérieur */
    left: 40px; /* Distance depuis le bord gauche */
    z-index: 2;
}

.grey-square2 {
    width: 1260px; /* Largeur en fonction de la largeur de l'écran avec une marge de 10px de chaque côté */
    height: 330px; /* Spécifiez la hauteur du carré */
    background-color: #ddd; /* Couleur de fond blanche */
    position: absolute; /* Position absolue pour placer le carré où vous le souhaitez */
    top: 910px; /* Distance depuis le bord supérieur */
    left: 280px; /* Distance depuis le bord gauche */
    z-index: 2;
}

.grey-square3 {
    width: 1260px; /* Largeur en fonction de la largeur de l'écran avec une marge de 10px de chaque côté */
    height: 355px; /* Spécifiez la hauteur du carré */
    background-color: #ddd; /* Couleur de fond blanche */
    position: absolute; /* Position absolue pour placer le carré où vous le souhaitez */
    top: 1270px; /* Distance depuis le bord supérieur */
    left: 40px; /* Distance depuis le bord gauche */
    z-index: 2;
}

.image-container {
    position: absolute;
    top: 970px; /* Ajustez la distance depuis le bord supérieur selon vos besoins */
    left: 20px; /* Ajustez la distance depuis le bord gauche selon vos besoins */
    z-index: 2;
}

    .image-container img {
        width: 250px; /* Ajustez la largeur de l'image selon vos besoins */
        height: auto; /* Ajustez la hauteur automatiquement en fonction de la largeur */
    }

.image-container2 {
    position: absolute;
    top: 1330px; /* Ajustez la distance depuis le bord supérieur selon vos besoins */
    right: 20px; /* Ajustez la distance depuis le bord droit selon vos besoins */
    z-index: 2;
}

    .image-container2 img {
        width: 250px; /* Ajustez la largeur de l'image selon vos besoins */
        height: auto; /* Ajustez la hauteur automatiquement en fonction de la largeur */
    }

.image-container3 {
    position: relative;
    z-index: 2;
    justify-content: center;
}

    .image-container3 img {
        width: 40px; /* Ajustez la largeur de l'image selon vos besoins */
        height: auto; /* Ajustez la hauteur automatiquement en fonction de la largeur */
    }

/* Responsive styles */
@media screen and (max-width: 768px) {
    /* ... (autres styles CSS pour la version mobile) ... */
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        text-align: left; /* Alignement à gauche */
        position: absolute;
        top: 60px; /* Hauteur de la barre de navigation */
        left: 0; /* Bord gauche de l'écran */
        width: calc(50% - 50px); /* 1/2 de la largeur de l'écran moins l'éloignement des éléments */
        max-width: 300px; /* Largeur maximale du menu */
        height: calc(100vh - 60px); /* Hauteur égale à 100% de la hauteur de la vue - hauteur de la barre de navigation */
        background-color: #333;
        padding-left: 50px; /* Éloignement des éléments du bord gauche */
        margin: 0; /* Ajout : Supprime la marge par défaut du conteneur */
        padding: 0;
    }

        .nav-links.active {
            display: flex;
            justify-content: space-around; /* Répartition équitable des éléments */
            align-items: stretch; /* Les éléments s'étendent pour occuper toute la hauteur */
        }

        .nav-links li {
            margin-right: 0;
            margin-bottom: 10px;
            margin-left: 20px; /* Garde une marge à gauche pour tous les éléments sauf le premier */
        }
}
